NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
CLERK_SECRET_KEY=sk_test_xxx

CLOUDFLARE_ACCOUNT_ID=xxx
R2_BUCKET=caa-neuro
R2_ACCESS_KEY_ID=xxx
R2_SECRET_ACCESS_KEY=xxx
R2_PUBLIC_URL=https://SEU_DOMINIO_PUBLICO_DO_R2
